<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Data</title>
    <link rel="stylesheet" href="/stylesheets/page-style.css" >
</head>
<body>
    <div class="functionality">
    <img src="/images/axiomio_logo1.jpeg" width="300px" height="auto">
    <p>Please upload your JSON formatted Data here to generate the PDF of the Invoice .</p>
    </div>
    <form action='./generate-pdf'>
        <input type="file" id="myFile" name="filename" accept=".json";>
        <input type="submit"> 
    </form>
</body>
</html>